<app-header color="light" titulo="Paciente"></app-header>

<ion-content>

    <ion-card *ngFor="let p of pacientes">
        <ion-card-header>
            <ion-card-subtitle>Cédula: {{p.cc}}</ion-card-subtitle>
            <ion-card-title>Nombres: {{p.nombre}} {{p.apellidos}}</ion-card-title>
        </ion-card-header>

        <ion-card-content> Información
            <p>
                Género: {{p.genero}}
                <br> Fecha de nacimiento: {{p.fechaNacimiento}}
                <br> Número de tarjeta: {{p.tarjeta}}

            </p>
        </ion-card-content>
        <!-- </ion-card>
    <ion-buttons>
        <ion-button class="btn btn-block" color="header" [routerLink]="['/registro-p']">
            AGREGAR PACIENTE
        </ion-button>
    </ion-buttons> -->

        <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="header" [routerLink]="['/registro-p']">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>

</ion-content>